<header class="site-header">

  <div class="wrapper">

      <img class="avatar" src={{ site.url }}/assets/avatar_2.jpg />

      <a class="site-title" href="{{ site.baseurl }}/">     
        {{ site.title }}
      </a>
      
      {% if site.description %}<p class="site-description">{{ site.description }}</p>{% endif %}

  </div>
  <div class="wrapper">

    <div class="trigger" id ="header-links">
      <span class="rss-subscribe"><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fi-rss" alt="RSS" title="RSS"></i></a></span>
      <span class="header-links-separator"></span>
      <span><a href="https://github.com/mattux/"><i class="fi-social-github" alt="Github: mattux" title="Github: mattux"></i></a></span>
      <span class="header-links-separator"></span>
      <span><a href="https://www.twitter.com/mtpani"><i class="fi-social-twitter" alt="Twitter: @mtpani" title="Twitter: @mtpani"></i></a></span>
      <span class="header-links-separator"></span>
      
      {% assign aboutpage = (site.pages | where: "title" , "About") %}
      {% for page in aboutpage %}
        <span><a href={{ page.url | prepend: site.baseurl }}><i class="fi-torso" alt="About" title="About"></i></a></span>
      {% endfor %}
  
    </div>
  </div>

</header>
